---
layout: tag
title: JavaSE 7
tags: JavaSE7
toc: false
links:
- url: https://www.sewatech.fr/formation-java-eclipse.html
  text: Initiation à java
author: Alexis
created: '2011-08-15'
modified: '2011-08-15'
redirects:
- Java7/index
---
<p><strong>Nouveautés de Java 7</strong>
</p>

<p><br>
Il existe un nombre important d'articles traitant des nouveautés de Java SE 7. Ne vous enthousiasmez pas trop en les lisant car certains se basent sur les prévisions initiales de Sun qui ont été remises en question en 2010, dans le <a class="external text" href="http://mreinhold.org/blog/rethinking-jdk7">plan B d'Oracle</a>. Celui-ci avait pour objectif de livrer une version moins  ambitieuse mais suffisamment intéressante dans un délai raisonnable. Pour cela, des fonctionnalités majeures ont été reportées à la version 8 ou à plus tard encore. Donc si vous lisez un article vous présentant les closures ou la modularité en Java SE 7, vous risquez d'être déçu...
</p>
<p>Donc pour résumer, les principales nouveautés du langage dans Java SE 7 sont :
</p>
<ul>
<li> <a href="/Java7/Diamant" title="Java7/Diamant">l'opérateur en diamant</a>,</li>
<li> <a href="/Java7/StringInSwitch" title="Java7/StringInSwitch">le support des String par les switch / case</a>,</li>
<li> <a href="/Java7/Literal" title="Java7/Literal">la mise en forme des valeurs littérales</a>,</li>
<li> <a href="/Java7/MultiCatch" title="Java7/MultiCatch">le multi-catch d'exception</a>,</li>
<li> <a href="/Java7/TryWithResource" title="Java7/TryWithResource">le try-with-resource</a>.</li>
</ul>
<p>Toutes ces nouveautés viennent du <a class="external text" href="http://openjdk.java.net/projects/coin/">projet Coin</a>. On trouve aussi de nouvelles API comme <a href="/Java7/NIO2-FileSystem" title="Java7/NIO2-FileSystem">NIO2</a> et <a href="/Java7/ForkJoin" class="new" title="Java7/ForkJoin">fork / join</a>, des changements de plus bas niveau, au niveau de la sécurité et avec la nouvelle instruction InvokeDynamic, et quelques modifications mineures.
</p>
<p>Le code source de tous les exemples de ces articles est publié sur <a class="external text" href="https://github.com/hasalex/Java7-examples">GitHub</a>.
</p>
