<footer>
    <div id="footer-left">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" id="license">
            <img src="/img/common/cc-by-sa.png">
        </a>
    </div>
    <div id="footer-center">
        {%- if page.modified -%} {{ site.data.i18n[site.lang].label.modified }} {{ page.modified  | date_to_french }}. {%- endif -%}<br/>
        {%- if page.created -%} {{ site.data.i18n[site.lang].label.created }} {{ page.created | date_to_french }}. {%- endif -%}
    </div>
    <div id="footer-right">
        <a href="https://jekyllrb.com/" title="Jekyll" id="poweredby">
            <span>Powered by</span><img src="/img/jekyll-tube-bw.png">
        </a>
    </div>
</footer>
    