  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ page.description | words: 20 }}" >
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {%- if include.redirect_url -%}
  <link rel="canonical" href="{{ include.redirect_url }}">
  <meta http-equiv="refresh" content="0; url={{ include.redirect_url }}" />
  {%- endif -%}
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} feed" href="/feed.xml" />
  <link rel="me" href="https://piaille.fr/@AlexisHassler" />
  