{%- if page.links != nil and page.archive != true -%}
<div id="links" class="portlet">
  <h3>{{ site.data.i18n[site.lang].label.links }}</h3>
  <ul class="portlet-body">
    {%- for link in page.links -%}
    <li><a href="{{link.url}}">{{link.text}}</a></li>
    {%- endfor -%}
  </ul>
</div>
{%- endif -%}