{%- assign page_name = include.page.id | slice: 1, 50 -%}
{%- if page_name != include.page.title -%}
  {%- assign page_name = page_name | append: " - " | append: include.page.title -%}
{%- endif -%}
<a href="{{ page.url }}" {% if page.archive %}class="archive"{% endif %}>{{ page_name }}</a>&nbsp; [{{ include.page.size }} mots]
{%- if include.page.author_full -%}&nbsp;(par <a href="{{ include.page.author_full.url }}">{{ include.page.author_full.name }}</a>) {%- endif -%}
