{%- if page.tags.size > 0 -%}
<div id="navigation" class="portlet">
  <h3>{{ site.data.i18n[site.lang].label.tags }}</h3>
  <div class="portlet-body">
    <ul>
      {%- for tag in page.tags -%}
      <li><a href="/{{ site.data.i18n[site.lang].prefix.tag }}{{ tag }}">{{ tag }}</a></li>
      <ul>
      {%- for other_page in site.data.wiki_pages -%}
        {%- if other_page.archive != true and other_page.tags contains tag and other_page.id != page.id -%}
          <li><a href="{{ other_page.url }}">{{ other_page.short-title | default: other_page.title }}</a></li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
      {%- endfor -%}
    </ul>
  </div>
</div>  
{%- endif -%}
