<div id="toc-container" {% if page.toc-depth %}class="depth-{{ page.toc-depth }}"{% endif %} role="navigation" aria-labelledby="toc-heading">
  <h3 id="toc-heading" class="center">{{ site.data.i18n[site.lang].label.toc }}</h3>
  {{- content | toc_only | replace: "
", "" -}}
</div>  
