---
layout: default
title: Toutes les pages actives
menu: ['global']
---

{%- assign pages = site.data.wiki_pages | where: "archive","false" -%}

{%- assign page_count = pages | size -%}
<p>Il y a actuellement <strong>{{ page_count }} pages</strong> actives sur JTips.</p>

<ul>
{%- assign sorted_page = pages | sort: "id" -%}
{%- for page in sorted_page -%}
  <li>{% include page_line.html page=page %}</li>
{%- endfor -%}
</ul>

<p></p>
<p>Il y a aussi des <a href="/special/Archives">pages archivées</a>.</p>
