---
layout: default
title: Pages archivées
menu: ['global']
---

{%- assign pages = site.data.wiki_pages | where: "archive","true" -%}

{%- assign page_count = pages | size -%}
<p>Il y a actuellement <strong>{{ page_count }} pages archivées</strong> sur JTips.</p>

<ul>
{%- assign sorted_page = pages | sort: "id" -%}
{%- for page in sorted_page -%}
  <li>{% include page_line.html page=page %}</li>
{%- endfor -%}
</ul>
