---
layout: default
title: Auteurs
menu: ['global']
---
<ul>
  {%- for author in site.data.authors -%}
  <li>
    <a href="{{ author.url }}">{{ author.name }}</a> (<a href="{{ author.contributions_url }}">{{author.contributions_count}} pages</a>)
  </li>
  {%- endfor -%}
</ul>
