---
layout: default
title: Pages longues
menu: ['global']
---
{%- assign long_pages = site.data.wiki_pages | sort: 'size' | reverse -%}
<ol>
{%- for page in long_pages limit:50 -%}
<li>{% include page_line.html page=page %}</li>
{%- endfor -%}
</ol>
