---
layout: default
title: Modifications récentes
menu: ['global']
---

<p>30 dernières pages, dans l'ordre de modification</p>

{%- assign recent_changes = site.data.wiki_pages | where_exp: 'page', 'page.modified' | sort: 'modified' | reverse -%}
<ul>
{%- for page in recent_changes limit:30 -%}
  <li>{% include page_line.html page=page %}&nbsp;- modifiée le {{ page.modified }}</li>
{%- endfor -%}
</ul>
