---
layout: default
title: Nouvelles pages
menu: ['global']
---

<p>30 dernières pages, dans l'ordre de création</p>

{%- assign recent_pages = site.data.wiki_pages | where_exp: 'page', 'page.created' | sort: 'created' | reverse -%}
<ul>
{%- for page in recent_pages limit:30 -%}
  <li>{% include page_line.html page=page %}&nbsp;- créée le {{ page.created }}</li>
{%- endfor -%}
</ul>
