---
layout: default
title: Liste des redirections
menu: ['global']
---
<ul>
{%- assign sorted_pages = site.data.wiki_redirects | sort: "id" -%}
{%- for source_page in sorted_pages -%}
  <li>
    {%- assign redirect_page = source_page.redirect_target -%}
    {{ redirect_page.title }} : 
    <a href="{{ source_page.url }}">{{ source_page.id }}</a> → <a href="{{ redirect_page.url }}">{{ redirect_page.id }}</a>
  </li>
{%- endfor -%}
</ul>
