---
layout: default
title: Toutes les catégories
menu: ['global']
---
<ul>
{%- assign sorted_tags = site.data.wiki_tags | sort -%}
{%- for tag in sorted_tags -%}
  {%- assign counter = 0 -%}
  {%- for other_page in site.data.wiki_pages %}
    {%- if other_page.tags contains tag -%}
        {%- assign counter = counter | plus: 1 -%}
    {%- endif -%}
  {%- endfor -%}

  <li><a href="/{{ site.data.i18n[site.lang].prefix.tag }}{{ tag }}">{{ tag }}</a> ({{counter}} pages)</li>
{%- endfor -%}
</ul>
