---
layout: default
title: Tags
---
<ul>
{% for tag in site.data.wiki_tags %}
  <li id="n-tag-{{ tag }}"><a href="/{{ site.data.i18n[site.lang].prefix.tag }}{{ tag }}">{{ tag }}</a></li>
  <ul>
  {% for other_page in site.data.wiki_pages %}
	{% if other_page.tags contains tag %}
	<li><a href="{{ other_page.url }}">{{ other_page.title }}</a></li>
	{% endif %}
  {% endfor %}
  </ul>
{% endfor %}
</ul>
