---
layout: default
menu: ['global']
---
{{ content }}

<div class="col-3 mt-1">
  <div class="content">
    <ul>
    {% for tag in page.tag-list %}
      <li>
        <a href="/tag/{{ tag }}">{{ tag }}</a>
        <div class="ulist">
        <ul>
        {% for other_page in site.data.wiki_pages %}
          {% if other_page.archive != true and other_page.importance == 1 and other_page.tags.first == tag %}
            <li><a href="{{ other_page.url }}">{{ other_page.short-title | default: other_page.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>      
