---
layout: default
menu: ['global']
---
{% capture tag_active %}
{%- for tag in page.tags -%}
{%- for other_page in site.data.wiki_pages -%}
  {%- if other_page.archive != true and other_page.tags contains tag -%}
    <li><a href="{{ other_page.url }}">{{ other_page.title }}</a></li>
  {%- endif -%}
{%- endfor -%}
{%- endfor -%}
{% endcapture %}
{% capture tag_archive %}
{%- for tag in page.tags -%}
  {%- for other_page in site.data.wiki_pages -%}
    {%- if other_page.archive == true and other_page.tags contains tag -%}
      <li><a href="{{ other_page.url }}">{{ other_page.title }}</a></li>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
{% endcapture %}
<div id="tag-content">{{ content | inject_anchors }}</div>
<div id="pages">

  {% if tag_active != empty %}
  <h3>{{ site.data.i18n[site.lang].label.tag_pages }} {{ page.tags }}</h3>
  <div class="columns">
    <ul>{{ tag_active }}
    </ul>
  </div>
  {% endif %}

  {% if tag_archive != empty %}
  <h3>{{ site.data.i18n[site.lang].label.tag_archived_pages }} {{ page.tags }}</h3>
  <div class="columns">
    <ul>{{ tag_archive }}</ul>
  </div>
  {% endif %}
</div>      
